auto.cmake
build/
doc/xml/
doc/html/

src/libgeodecomp/communication/test/parallel_hpx_4/main.cpp
src/libgeodecomp/communication/test/parallel_mpi_1/main.cpp
src/libgeodecomp/communication/test/parallel_mpi_2/main.cpp
src/libgeodecomp/communication/test/parallel_mpi_4/main.cpp
src/libgeodecomp/geometry/partitions/test/parallel_mpi_1/main.cpp
src/libgeodecomp/geometry/partitions/test/parallel_mpi_2/main.cpp
src/libgeodecomp/geometry/partitions/test/parallel_mpi_4/main.cpp
src/libgeodecomp/geometry/partitions/test/unit/main.cpp
src/libgeodecomp/geometry/test/parallel_hpx_1/main.cpp
src/libgeodecomp/geometry/test/parallel_mpi_4/main.cpp
src/libgeodecomp/geometry/test/parallel_mpi_9/main.cpp
src/libgeodecomp/geometry/test/unit/main.cpp
src/libgeodecomp/io/remotesteerer/test/parallel_mpi_1/main.cpp
src/libgeodecomp/io/remotesteerer/test/parallel_mpi_2/main.cpp
src/libgeodecomp/io/remotesteerer/test/parallel_mpi_4/main.cpp
src/libgeodecomp/io/remotesteerer/test/unit/main.cpp
src/libgeodecomp/io/test/parallel_hpx_1/main.cpp
src/libgeodecomp/io/test/parallel_mpi_1/main.cpp
src/libgeodecomp/io/test/parallel_mpi_2/main.cpp
src/libgeodecomp/io/test/unit/main.cpp
src/libgeodecomp/loadbalancer/test/parallel_hpx_1/main.cpp
src/libgeodecomp/loadbalancer/test/unit/main.cpp
src/libgeodecomp/misc/test/parallel_mpi_1/main.cpp
src/libgeodecomp/misc/test/parallel_openmp_1/main.cpp
src/libgeodecomp/misc/test/unit/main.cpp
src/libgeodecomp/parallelization/nesting/test/parallel_mpi_1/main.cpp
src/libgeodecomp/parallelization/nesting/test/parallel_mpi_14/main.cpp
src/libgeodecomp/parallelization/nesting/test/parallel_mpi_4/main.cpp
src/libgeodecomp/parallelization/nesting/test/parallel_hpx_4/main.cpp
src/libgeodecomp/parallelization/nesting/test/unit/main.cpp
src/libgeodecomp/parallelization/test/parallel_hpx_4_1/main.cpp
src/libgeodecomp/parallelization/test/parallel_mpi_1/main.cpp
src/libgeodecomp/parallelization/test/parallel_mpi_4/main.cpp
src/libgeodecomp/parallelization/test/parallel_openmp_1/main.cpp
src/libgeodecomp/parallelization/test/parallel_openmp_4/main.cpp
src/libgeodecomp/parallelization/test/unit/main.cpp
src/libgeodecomp/storage/test/parallel_mpi_2/main.cpp
src/libgeodecomp/storage/test/parallel_openmp_4/main.cpp
src/libgeodecomp/storage/test/unit/main.cpp

src/**/test/**/*test.cpp
src/**/test/**/*test.cu
src/**/test/**/run_tests.cpp

*~
